<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${#messages.msg('loginForm.header', clientName)}">Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/oauth/css/styles.css" th:href="@{/oauth/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/css/materialize.min.css"
          th:href="@{/webjars/materializecss/1.0.0/css/materialize.css}">
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.2.0/css/all.min.css"
          th:href="@{/webjars/font-awesome/5.2.0/css/all.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s4 offset-s4">
            <form action="#" th:action="@{/oauth/login}" th:object="${loginData}" method="post">
                <input type="hidden" th:field="*{response_type}">
                <input type="hidden" th:field="*{client_id}">
                <input type="hidden" th:field="*{scope}">
                <input type="hidden" th:field="*{redirect_uri}">
                <input type="hidden" th:field="*{state}">
                <div class="card z-depth-3">
                    <div class="card-content">
                        <span class="card-title" th:text="${#messages.msg('loginForm.header', clientName)}">Login</span>
                        <div class="input-field">
                            <input type="text" id="username" name="username" class="validate" th:field="*{username}" autofocus required>
                            <label for="username" th:text="#{loginForm.field.username.label}">Username:</label>
                        </div>
                        <div class="input-field">
                            <input type="password" id="password" name="password" class="validate" th:field="*{password}">
                            <label for="password" th:text="#{loginForm.field.password.label}">Password:</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="waves-effect waves-light btn"><i class="fas fa-sign-in-alt"></i> <span th:text="#{loginForm.button.submit.label}">Login</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/js/materialize.min.js" th:src="@{/webjars/materializecss/1.0.0/js/materialize.js}"></script>
<script type="text/javascript" th:inline="javascript">
    function isError() {
        if (!window.location.search) {
            return false;
        }
        var search = window.location.search.substring(1);
        return search.split('&').some(function (queryParamValue) {
            return queryParamValue === 'error';
        });
    }

    if (isError()) {
        var badCredentials = /*[[#{loginForm.error}]]*/ "Bad Credentials";
        M.toast({html: badCredentials});
    }
</script>
</body>
</html>
